//************************************************
//			= browser
//************************************************

// PC
//======================================
support-ie6    ?= true
support-ie7    ?= true
support-ie8    ?= true
support-ie9    ?= true
support-ie10   ?= true
support-ie11   ?= true
support-moz    ?= true
support-webkit ?= true
support-opera  ?= true

// SP
//======================================
support-ios6      ?= true
support-ios7      ?= true
support-android23 ?= true
support-android30 ?= true
support-android43 ?= true
support-android44 ?= true

//************************************************
//			= variable
//************************************************

// breakpoint
//======================================
breakpoint_s =  768px
breakpoint_m =  992px
breakpoint_l = 1200px

// width
//======================================
w_contents = 950px
w_main     = 690px
w_sub      = 240px

// path
//======================================
p_i_cmn   = "/cmn/img"
p_i_home  = "/cmn/home"
p_i_other = "/cmn/other"

// color
//======================================
c_base   = #fff
c_main   = #fcc
c_accent = #f00