block vars
  - var title          = 'title'
  - var description    = 'description'
  - var keywords       = 'keywords'
  - var ogpTitle       = title
  - var ogpDescription = description
  - var ogpUrl         = '//ogp.org'
  - var ogpImage       = '//ogp.org/ogp.png'
  - var ogpType        = 'website'
  - var bodyAttrs = {};

block html
