extends /extends/sp/layout

append vars
  - var title       = 'top title'
  - var description = 'top description'
  - var keywords    = 'top keywords'
  - var bodyAttrs = { 'id': 'body-id', 'class': 'body-class' };

//- append metas
//-   meta()
//- append styles
//-   link(rel="stylesheet", href="", media="all")
//- append scripts
//-   script(src="")

block contents
